<ion-view view-title="Word Map" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" ng-href="#/tab/tasks"></a>
  </ion-nav-buttons>

  <ion-content class="has-header">
        <ion-list  >
          <div clas="item text-center" style="text-align: center; margin-top: 30px;"><v style="font-size: {{word.size/3*18}}px  !important; color: {{diaries.color}}" ng-repeat="word in diaries.words">{{word.word}} </v> </div>
            
         </ion-list>
    </ion-content>
</ion-view>