<ion-view title="Login">
  <ion-nav-buttons side="right">
    <button ng-click="logger.login()" ng-disabled="!logger.phone || logger.phone.length === 0" class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>
  <ion-content class="login">
    <div class="list card">
      <div class="item item-image">
        <img src="/front.jpg">
      </div>
    </div>
    <div class="text-center instructions">
      Welcome to PhD Nexus
      <br>
      Enter your mobile number with country code
    </div>
    <div class="list">
      <label class="item item-input">
        <input ng-model="logger.phone" on-return="logger.login()" type="text" placeholder="Your phone number">
      </label>
    </div>
  </ion-content>
</ion-view>