<ion-modal-view ng-controller="NewTaskCtrl as task">
  <ion-header-bar>
    <h1 class="title">Make it happen !!</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="task.hideNewTaskModal()">Close</button>
    </div>
  </ion-header-bar>
 
  <ion-content>
    <div class="list">
    <div class="item item-text-wrap"  type="item-text-wrap">
      I want to connect with people want to...
    </div>
      <label class="item item-input">
        <textarea type="text" rows="5" ng-model="task.newTask" placeholder=" Describe Activity"></textarea>
      </label>
      <label class="item item-input">
        <div class="input-label">
          On
        </div>
        <input type="datetime-local" ng-model="task.newDateTime">
      </label>
      <label class="item item-input">
        <div class="input-label">
          At
        </div>
        <input type="text" ng-model="task.location" placeholder="Location">
      </label>
      <label class="item item-input">
        <div class="input-label">
         Minimum people to activate
        </div>
        <input type="text" ng-model="task.min_people">
      </label>
      <label class="item item-input">
        <div class="input-label">
          Maximum number to fill
        </div>
        <input type="text" ng-model="task.max_people">
      </label>

      </div>

    <div class="list" ng-if="task.newDateTime" style="margin-top:10px;">
      <button ng-click="task.addTask(task.newTask, task.newDateTime, task.location, task.min_people, task.max_people)" class="button start button-assertive button-outline">
        Create
      </button>

    </div>
  </ion-content>
</ion-modal-view>