<ion-view title="Profile">
  <ion-nav-buttons side="right">
    <button ng-click="profile.next()" ng-disabled="!profile.name || profile.name.length === 0" class="button button-clear button-assertive">Save</button>
  </ion-nav-buttons>
 
  <ion-content class="profile">
    <a class="profile-picture positive" ng-click="profile.updatePicture()">
      <div ng-if="profile.currentUser.profile.picture">
        <img ng-src="{{ profile.currentUser.profile.picture }}" alt="profile picture">
        edit
      </div>
      <div ng-if="!profile.currentUser.profile.picture" class="upload-placehoder">
        Add photo
      </div>
    </a>
 
    <div class="instructions">
      Enter your name and add an optional profile picture
    </div>
 
    <div class="list profile-name">
      <label class="item item-input">
        <input ng-model="profile.name" on-return="profile.updateName()" type="text" placeholder="Your name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          School
        </div>
        <select ng-model="profile.school"  ng-change="profile.updateSchool()">
          <option>UQ</option>
          <option selected>Griffith</option>
          <option>QUT</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Class
        </div>
        <select ng-model="profile.division" ng-change="profile.updateDiv()">
          <option>Psychology</option>
          <option selected>Engineering</option>
          <option>Medicine</option>
        </select>
      </label>
      <button ng-click="profile.skip()" ng-disabled="!profile.name || profile.name.length === 0" class="button button-clear button-stable button-block">Skip</button>
    </div>
  </ion-content>
</ion-view>