<ion-view view-title="Resources" hide-back-button="true">
  <!--<ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" ng-href="#/tab/tasks"></a>
  </ion-nav-buttons>-->

  <ion-content class="has-header">
       <div class="card">
		  <div class="item">
		    <h2>Help with Stress</h2>
		  </div>
		  <div class="item item-image">
		    <img src="http://cdn-img.health.com/sites/default/files/styles/medium_16_9/public/migration/images/condition/stress/stress-management-300x200.jpg?itok=gTf05nA5">
		  </div>
		  <a class="item item-icon-right positive" href="">
		    <i class="icon ion-chevron-right"></i>
		    Learn More
		  </a>
		</div>
		<div class="card">
		  <div class="item">
		    <h2>Help for Sleep</h2>
		  </div>
		  <div class="item item-image">
		    <img src="http://cdn-img.health.com/sites/default/files/styles/medium_16_9/public/migration/images/condition/stress/stress-management-300x200.jpg?itok=gTf05nA5">
		  </div>
		  <a class="item item-icon-right positive" href="">
		    <i class="icon ion-chevron-right"></i>
		    Learn More
		  </a>
		</div>
		<div class="card">
		  <div class="item">
		    <h2>Help with Money</h2>
		  </div>
		  <div class="item item-image">
		    <img src="http://cdn-img.health.com/sites/default/files/styles/medium_16_9/public/migration/images/condition/stress/stress-management-300x200.jpg?itok=gTf05nA5">
		  </div>
		  <a class="item item-icon-right positive" href="">
		    <i class="icon ion-chevron-right"></i>
		    Learn More
		  </a>
		</div>
		<div class="card">
		  <div class="item">
		    <h2>Help for PhD Confidence</h2>
		  </div>
		  <div class="item item-image">
		    <img src="http://cdn-img.health.com/sites/default/files/styles/medium_16_9/public/migration/images/condition/stress/stress-management-300x200.jpg?itok=gTf05nA5">
		  </div>
		  <a class="item item-icon-right positive" href="">
		    <i class="icon ion-chevron-right"></i>
		    Learn More
		  </a>
		</div>
		<div class="card">
		  <div class="item">
		    <h2>Help to get Motivated</h2>
		  </div>
		  <div class="item item-image">
		    <img src="http://cdn-img.health.com/sites/default/files/styles/medium_16_9/public/migration/images/condition/stress/stress-management-300x200.jpg?itok=gTf05nA5">
		  </div>
		  <a class="item item-icon-right positive" href="">
		    <i class="icon ion-chevron-right"></i>
		    Learn More
		  </a>
		</div>
		<div class="card">
		  <div class="item">
		    <h2>Ideas for Time-out</h2>
		  </div>
		  <div class="item item-image">
		    <img src="http://cdn-img.health.com/sites/default/files/styles/medium_16_9/public/migration/images/condition/stress/stress-management-300x200.jpg?itok=gTf05nA5">
		  </div>
		  <a class="item item-icon-right positive" href="">
		    <i class="icon ion-chevron-right"></i>
		    Learn More
		  </a>
		</div>
    </ion-content>
</ion-view>