<ion-tabs class="tabs-stable tabs-icon-top  tabs-bottom" ng-cloak>
	 <ion-tab title="Tasks" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" href="#/tab/tasks">
    	<ion-nav-view name="tab-tasks"></ion-nav-view>
	 </ion-tab>
	 
	<ion-tab title="Chats" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/chats">
	    <ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Resources" icon-on="ion-ios-briefcase" icon-off="ion-ios-briefcase-outline" href="#/tab/resources">
	    <ion-nav-view name="tab-resources"></ion-nav-view>
	</ion-tab>
	<ion-tab title="Settings" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
	    <ion-nav-view name="tab-settings"></ion-nav-view>
	</ion-tab>
 
</ion-tabs>