<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive tabs-bottom" ng-cloak>
	 <ion-tab title="Tasks" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/tasks">
    	<ion-nav-view name="tab-tasks"></ion-nav-view>
	 </ion-tab>
	 
	<ion-tab title="Chats" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/chats">
	    <ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>


	<ion-tab title="Calender" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" href="#/tab/calendar">
	    <ion-nav-view name="tab-calendar"></ion-nav-view>
	</ion-tab>
	 
	<ion-tab title="Settings" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
	    <ion-nav-view name="tab-settings"></ion-nav-view>
	</ion-tab>
 
</ion-tabs>