<ion-view view-title="Happening Now" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a ng-href="#/tab/diary" class="button button-clear button-assertive button-icon ion-map"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">  
    <ion-badge ng-if="!tasks.stress" id="notifications-badge" color="danger"></ion-badge><a ng-href="#/tab/stresslevel" id="#notification-button" class="button button-clear button-assertive button-icon ion-ios-help-outline"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" style="margin: 0px;">

  <div class="item item-body">
    <img class="full-image" src="/Capture.PNG">
    <p class="text-center">
      <a href="#" class="subdued">Mind Map of PhD 2026</a>
    </p>
    <button class="button start button-assertive button-outline"  ng-click="tasks.newTaskModal()" style=""><i class="icon ion-bonfire"></i>&nbsp;&nbsp;&nbsp;&nbsp;Connect</button>
  </div>

</div>
    
   
    <ion-list >
      <ion-item class="item-chat item-remove-animate item-text-wrap">
        <h2><a>@hairylemon</a> has joined PhixD, say hi !</h2>
        </ion-option-button>
      </ion-item>
      <ion-item class="item-chat item-remove-animate item-text-wrap">
        <h2>It's <a>@sweetpotato</a>'s birthday ! Happy birthday !!!</h2>
      </ion-item>
      <ion-item ng-if="!task.checked" ng-repeat="task in tasks.data | orderBy:'task.createdAt'"
                class="item-chat item-remove-animate item-text-wrap item-icon-right"
                href="" ng-click="tasks.newgroupChat(task._id)"
                on-swipe-right="tasks.setChecked(task)"
                >
        <h2>Looking for interested people to {{task.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="schedule-message-timestamp">{{task.scheduledAt  | amDateFormat: ' MM/DD/YYYY HH:mm'}}</span>
        <br>
        <span class="last-message-timestamp text-right">{{task.createdAt | calendar}}</span>
        
        <ion-option-button class="button-stable" ng-click="tasks.removeTask(task)">
          Ignore
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>