<ion-view view-title="Events Today">
  <!--<ion-nav-buttons side="left">
    <button ng-click="tasks.showChatModal()" class="button button-clear button-positive button-icon ion-ios-chatbubble-outline"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="tasks.newTaskModal()" class="button button-clear button-positive button-icon ion-ios-plus-empty"></button>
  </ion-nav-buttons>-->
  <ion-content>
    <button class="start button button-positive" ng-click="tasks.newTaskModal()">
  Let's Get Started
</button>
    <ion-list>
      <ion-item ng-if="!task.checked" ng-repeat="task in tasks.data | orderBy:'task.createdAt'"
                class="item-chat item-remove-animate item-text-wrap item-icon-right"
                href="" ng-click="tasks.newgroupChat(task._id)"
                on-swipe-right="tasks.setChecked(task)"
                >
        <h2>{{task.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="schedule-message-timestamp">{{task.scheduledAt  | amDateFormat: ' MM/DD/YYYY HH:mm'}}</span>
        <br>
        <span class="last-message-timestamp">{{task.createdAt | calendar}}</span>
        
        <ion-option-button class="button-assertive" ng-click="tasks.removeTask(task)">
          Ignore
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>